<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>contact page</title>
</head>
<body>
	<section>
		
		<h1>This is Contact page section</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis aspernatur quis consectetur earum itaque assumenda possimus perspiciatis soluta veritatis voluptatibus. Fugiat ut dolorem tempore suscipit quis cum atque dolor quibusdam ullam aspernatur. Incidunt laboriosam quis sapiente tempore odio voluptatibus nam magni reprehenderit autem in repellendus mollitia eaque harum magnam provident!
	</section>
	
</body>
</html>