<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>CSS_JS_Example</title>
	<link rel="stylesheet" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div class="container">
	
	<h1>Example of JavaScript and CSS</h1>
		
		<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est recusandae fugiat eligendi iure assumenda ratione alias iste unde accusamus dignissimos rerum aut laboriosam adipisci voluptate atque voluptas cum laudantium dicta vitae quod ab obcaecati vel error. Sit debitis alias nam fuga provident autem vel ex modi doloribus incidunt dolor blanditiis.
		</p>
		<img class="profile" th:src="@{/image/maa.jpg}" alt="">
		
	</div>
	
	<script src="" th:src="@{js/myjs.js}"></script>
	
</body>
</html>